<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Books</title>
  </head>
  <body>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="book : ${books}">
          <td th:text="${book.title}"></td>
          <td th:text="${book.body}"></td>
          <td>
            <a th:href="@{/books/{id}(id=${book.id})}">Show</a>
          </td>
          <td>
            <a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a>
          </td>
          <td>
            <a th:href="@{/books/{id}(id=${book.id})}" th:method="delete"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <h2>New book</h2>
    <form th:action="@{/books}" th:object="${newBook}" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" th:field="*{title}" />
      <br />
      <label for="body">Body:</label>
      <textarea id="body" name="body" th:field="*{body}"></textarea>
      <br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
